/* Depoimentos.css */
.depoimentos-section {
    padding: 4rem 2rem;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .depoimentos-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .depoimentos-section h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 2rem;
  }
  
  .depoimento-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .depoimento-card img {
    width: 450px;
    height: 300px;
    margin-left: 20%;
    margin-bottom: 1rem;
    object-fit: cover;
  }
  
  .depoimento-text {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .depoimento-name {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
  }
  
  /* Slick Dots Customization */
  .slick-dots li button:before {
    color: #f39c12;
  }
  
  .slick-dots li.slick-active button:before {
    color: #e67e22;
  }
  